@using Microsoft.AspNetCore.Identity
@using Bitirme.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<style>
    .rounded-circle {
        height: 50px;
    }

    li.nav-item {
        margin: 0 0 10px 0;
    }
</style>

<ul class="navbar-nav" style="text-align:center">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item" style="align-self: center;margin-right: 80px;">
            <form class="form-inline" method="get" asp-controller="Main" asp-action="Search">
                <div class="row">
                    <div class="col-auto">
                        <input type="text" class="form-control" placeholder="Search" name="query">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </li>
        <li class="nav-item" style="align-self: center;margin-right: 80px;">
            <div class="nav">
                <a asp-controller="Main" asp-action="Explore">Keşfet</a>
            </div>
        </li>
        <li class="nav-item" style="align-self: center;margin-right: 80px;">
            <div class="nav">
                <a asp-controller="Product" asp-action="Advert">İlan Ekle</a>
            </div>
        </li>
        <li class="nav-item" style="align-self: center;margin-right: 80px;">
            <div class="nav">
                <a asp-controller="Main" asp-action="Order">Siparişlerim</a>
            </div>
        </li>
        <li class="nav-item" style="align-self: center;margin-right: 80px;">
            <div class="nav">
                <a asp-controller="Main" asp-action="Message">Mesaj Kutusu</a>
            </div>
        </li>
        <li class="nav-item" style="align-self: center;margin-right: 80px;">
            <div class="dropdown">
                <button type="button" class="border-0 rounded-circle" data-toggle="dropdown" style="height:60px">
                    <img class="rounded-circle" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture))">
                </button>
                <div class="dropdown-menu" style="margin-left: -20px">
                    <a class="dropdown-item" asp-controller="Main" asp-action="Profile">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                        </svg> Profilim
                    </a>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                        </svg> Profili Düzenle
                    </a>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="dropdown-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                            </svg> Logout
                        </button>
                    </form>
                </div>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
