@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>Kişisel Veri</h3>

<div class="row">
    <div class="col-md-6">
        <p>Hesabınızda bize verdiğiniz kişisel veriler bulunmaktadır. Bu sayfa, o verileri indirmenize veya silmenize izin verir.</p>
        <p>
            <strong>Bu verileri silmek, hesabınızı kalıcı olarak kaldıracak ve bu işlem geri alınamaz.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">İndir</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Sil</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
