@model Users
@{
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h1>Login</h1>
                <hr />

                <form asp-action="Login" asp-controller="Login">
                    <div asp-validation-summary="All" class="text-danger"></div>
                   <div class="form-group form-group-spacing">
                        <label asp-for="Name" class="control-label">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                   <div class="form-group form-group-spacing">
                        <label asp-for="Password" class="control-label">Password</label>
                        <input asp-for="Password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group form-group-spacing">
                        <input type="submit" value="Login" class="btn btn-primary" />
                    </div>
                    <a asp-area="" asp-controller="SignUp" asp-action="SignUp">Create User Account</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>