@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <!-- Site made with Mobirise Online Website Builder v5.9.13, https://a.mobirise.com -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v5.9.13, a.mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/photo-1578369614457-fa7eb5822eef.jpeg" type="image/x-icon">
    <meta name="description" content="SwiftShift is the ultimate platform for reliable transportation. Add listings and travel plans to transport items or have your items transported. Explore users' trips on the map!">
    <title>SwiftShift Transportation Hub</title>
    <link rel="stylesheet" href="https://r.mobirisesite.com/442218/assets/web/assets/mobirise-icons2/mobirise2.css?rnd=1715680352890">
    <link rel="stylesheet" href="https://r.mobirisesite.com/442218/assets/bootstrap/css/bootstrap.min.css?rnd=1715680352890">
    <link rel="stylesheet" href="https://r.mobirisesite.com/442218/assets/bootstrap/css/bootstrap-grid.min.css?rnd=1715680352890">
    <link rel="stylesheet" href="https://r.mobirisesite.com/442218/assets/bootstrap/css/bootstrap-reboot.min.css?rnd=1715680352890">
    <link rel="stylesheet" href="https://r.mobirisesite.com/442218/assets/parallax/jarallax.css?rnd=1715680352890">
    <link rel="stylesheet" href="https://r.mobirisesite.com/442218/assets/dropdown/css/style.css?rnd=1715680352890">
    <link rel="stylesheet" href="https://r.mobirisesite.com/442218/assets/theme/css/style.css?rnd=1715680352890">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"></noscript>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap&display=swap"></noscript>
    <link rel="stylesheet" href="https://r.mobirisesite.com/442218/assets/css/mbr-additional.css?rnd=1715680352890" type="text/css">




</head>
<body>

    <section data-bs-version="5.1" class="menu menu2 cid-ucJN9s8Ejo" once="menu" id="menu-5-ucJN9s8Ejo">
       @*  <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
            <div class="container">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="https://mobiri.se">
                            <img src="assets/images/photo-1578369614457-fa7eb5822eef.jpeg" alt="Mobirise Website Builder" style="height: 4.3rem;">
                        </a>
                    </span>

                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="navbar-buttons mbr-section-btn">
                        <a class="btn btn-success-outline display-4" href="https://mobiri.se">Kayıt Ol</a>
                        <a class="btn btn-success-outline display-4" href="@Url.Page("/Account/Login", new { area = "Identity" })">Giriş Yap</a>
                    </div>
                </div>
            </div>
        </nav> *@
    </section>

    <section data-bs-version="5.1" class="header18 cid-ucJN9s9mYo mbr-fullscreen mbr-parallax-background" id="hero-16-ucJN9s9mYo">


        <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(124, 237, 222);"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="content-wrap col-12 col-md-12">
                    <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1"><strong>SwiftShift</strong></h1>

                    <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-7"><strong>Güvenilir Taşımacılık</strong><br></p>

                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="article07 cid-ucJN9s967Y" id="about-us-7-ucJN9s967Y">




        <div class="container">
            <div class="row justify-content-center">
                <div class="card col-md-12 col-lg-10">
                    <div class="card-wrapper">
                        <h3 class="card-title mbr-fonts-style mbr-white mt-3 mb-4 display-2">
                            <strong>SwiftShift</strong>
                        </h3>
                        <div class="row card-box align-left">
                            <div class="item features-without-image col-12">
                                <div class="item-wrapper">

                                    <p class="mbr-text mbr-fonts-style display-7">Kişisel eşyalarınızı güvenilir bir şekilde taşımak artık çok daha kolay!<br> Platformumuz aracılığıyla, istediğiniz ürünleri Türkiye'nin dört bir yanına güvenilir seyahat eden kullanıcılarımız aracılığıyla taşıtabilirsiniz. <br>Ayrıca, başka bir şehre hızlı ve güvenli bir şekilde ürün gönderebilirsiniz.&nbsp;</p>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="article4 cid-ucJN9sdHeY" id="generic-text-4-ucJN9sdHeY">





        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-12 col-lg-6 image-wrapper">
                    <img class="w-100" src="assets/images/ga79c9b7f27f1c2d9c7bb579b857d-h_lw66pata.jpg" alt="Mobirise Website Builder">
                </div>
                <div class="col-12 col-md-12 col-lg">
                    <div class="text-wrapper align-left">
                        <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2"><strong>Neler Sunuyoruz</strong></h1>
                        <p class="mbr-text mbr-fonts-style mb-3 display-7">Seyahat planınıza ürün ekleyerek gideceğiniz şehre taşımacılık yaparak para kazanabilirsiniz.</p>

                        <p class="mbr-text mbr-fonts-style mb-3 display-7">İlan oluşturarak aynı yöne gidecek bir taşıyıcı bulabilir ve makul bir fiyata ürününüzü taşıtabilirsiniz.</p>
                        <p class="mbr-text mbr-fonts-style mb-3 display-7">Tek bir seyahatle birden fazla ürün taşıyarak ek gelir elde edebilirsiniz.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="features03 cid-ucJN9seAnQ" id="features-8-ucJN9seAnQ">


        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 content-head">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="item features-image col-12 col-md-6 col-lg-4 active">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="assets/images/g237ae9045ca746fdd7b62c6eb158-h_lw66rdfb.jpg" alt="Mobirise Website Builder" title="">
                        </div>
                        <div class="item-content align-left">
                            <h5 class="item-title mbr-fonts-style mt-0 mb-2 display-5">
                                <strong>Seyahat&nbsp;</strong>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mb-3 display-7">Seyahat ekleyerek kullanıcıların size ulaşmasını sağlayın</p>

                        </div>
                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="assets/images/g1bfc0051714f895a46af52cc085f-h_lw66te7j.jpg" alt="Mobirise Website Builder" title="" data-slide-to="1" data-bs-slide-to="1">
                        </div>
                        <div class="item-content align-left">
                            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5"><strong>İlan</strong></h5>
                            <p class="mbr-text mbr-fonts-style mb-3 display-7">İlan ekleyerek kullanıcıların size ulaşmasını sağlayın</p>

                        </div>
                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="assets/images/g088be0e7c902f78ceaae25db11a9-h_lw66xpc1.jpg" alt="Mobirise Website Builder" title="" data-slide-to="2" data-bs-slide-to="2">
                        </div>
                        <div class="item-content align-left">
                            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
                                <strong></strong>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mb-3 display-5"><strong>Harita<br><br></strong></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="list1 cid-ucJN9shNnS" id="faq-1-ucJN9shNnS">


        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-12 col-lg-10 m-auto">
                    <div class="content">
                        <div class="row justify-content-center mb-5">
                            <div class="col-12 content-head">
                                <div class="mbr-section-head">
                                    <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                                        <strong>FAQs - You've Got Questions, We've Got Answers</strong>
                                    </h4>

                                </div>
                            </div>
                        </div>
                        <div id="bootstrap-accordion_8" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse1_8" aria-expanded="false" aria-controls="collapse1">
                                        <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">How do I add a listing?</h6>
                                        <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                    </a>
                                </div>
                                <div id="collapse1_8" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_8">
                                    <div class="panel-body">
                                        <p class="mbr-fonts-style panel-text display-7">Adding a listing is as easy as pie! Simply go to your dashboard and click on the 'Add Listing' button to get started.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse2_8" aria-expanded="false" aria-controls="collapse2">
                                        <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5"></h6>
                                        <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                    </a>
                                </div>
                                <div id="collapse2_8" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_8">
                                    <div class="panel-body">
                                        <p class="mbr-fonts-style panel-text display-7">Absolutely! You can transport as many items as you want in a single trip. Just make sure you have enough space!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse3_8" aria-expanded="false" aria-controls="collapse3">
                                        <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Is my item insured during transportation?</h6>
                                        <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                    </a>
                                </div>
                                <div id="collapse3_8" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_8">
                                    <div class="panel-body">
                                        <p class="mbr-fonts-style panel-text display-7">Yes, all items are insured during transportation to ensure a worry-free experience for both the sender and the transporter.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse4_8" aria-expanded="false" aria-controls="collapse4">
                                        <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">How do I track my item's journey?</h6>
                                        <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                    </a>
                                </div>
                                <div id="collapse4_8" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_8">
                                    <div class="panel-body">
                                        <p class="mbr-fonts-style panel-text display-7">Tracking your item is a breeze! Once a transporter picks up your item, you'll receive real-time updates and can track its journey on the map.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse5_8" aria-expanded="false" aria-controls="collapse5">
                                        <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">What if my item is damaged during transportation?</h6>
                                        <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                    </a>
                                </div>
                                <div id="collapse5_8" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_8">
                                    <div class="panel-body">
                                        <p class="mbr-fonts-style panel-text display-7">While we take every precaution to ensure safe transportation, in the rare event of damage, our support team is here to assist you with a resolution.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="contacts01 cid-ucJN9smGQF" id="contacts-1-ucJN9smGQF">




        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 content-head">
                    <div class="mbr-section-head mb-5">
                        <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Bize Ulaşın</strong></h3>

                    </div>
                </div>
            </div>
            <div class="row">

                <div class="item features-without-image col-12 col-md-6">
                    <div class="item-wrapper">
                        <div class="text-wrapper">
                            <h6 class="card-title mbr-fonts-style mb-3 display-5">
                                <strong>Email</strong>
                            </h6>
                            <p class="mbr-text mbr-fonts-style display-7">swiftshiftturkey@gmail.com</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>


    <script src="assets/web/assets/jquery/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/parallax/jarallax.js"></script>
    <script src="assets/smoothscroll/smooth-scroll.js"></script>
    <script src="assets/ytplayer/index.js"></script>
    <script src="assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="assets/mbr-switch-arrow/mbr-switch-arrow.js"></script>
    <script src="assets/theme/js/script.js"></script>



</body>
</html>
