@using Microsoft.AspNetCore.Identity
@using Bitirme.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @{
        ViewData["Title"] = "Explore";
    }
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bitirme.styles.css" asp-append-version="true" />
    <style>
        .product-card {
            background-color: #fff; /* Kart arkaplan rengi */
            border: 1px solid #ddd; /* Kart kenarlık rengi ve kalınlığı */
            border-radius: 8px; /* Kart köşe yuvarlaklığı */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Kart gölgesi */
            overflow: hidden; /* İçerik dışına taşan kısımları gizle */
            margin: 20px; /* Kart arasındaki boşluk */
            max-width: 400px; /* Kartın maksimum genişliği */
        }
    </style>
</head>
<body>
    <header class="w3-display-container w3-wide">
        <div class="product-card">
            <div class="card-body">
                <h5 class="card-title">İlan Detayları</h5>
                <p class="card-text"><strong>Ürün İsmi:</strong> Telefon</p>
                <p class="card-text"><strong>Ülke:</strong> Türkiye</p>
                <p class="card-text"><strong>Şehir:</strong> Ankara</p>
                <p class="card-text"><strong>Adres:</strong> xx</p>
                <p class="card-text"><strong>Kilogram:</strong> 1</p>
                <p class="card-text"><strong>Not:</strong> asdsdfd</p>
            </div>
        </div>
    </header>
</body>
</html>

