@using Microsoft.AspNetCore.Identity
@using Bitirme.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bitirme.styles.css" asp-append-version="true" />

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html, body {
            height: 100%;
        }

        .cover-photo {
            background-color: #6B705C;
            height: 350px;
            width: 100%;
        }

        .circle {
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 150px;
            height: 150px;
            clip-path: circle(50% at 50% 50%);
            overflow: hidden;
        }

        .form-group {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 150px; /* Same as circle width */
            height: 150px; /* Same as circle height */
        }

        #profilePicture {
            height: 100%;
            object-fit: cover;
        }

        .form-group img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* This property makes the image cover the entire container while maintaining its aspect ratio */
            border-radius: 50%; /* Ensure the image also has a circular border */
        }

        .user-info,
        .point,
        .description {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }

        .user-info {
            top: 82%;
            font-size: 1.5em; /* Adjust the font size as needed */
        }

        .point {
            top: 80%;
            font-size: 1em; /* Adjust the font size as needed */
        }

        .description {
            top: 140%;
            font-size: 0.7em; /* Adjust the font size as needed */
        }

        .info {
            top: 100%;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            text-align: center;
            display: flex;
            justify-content: space-between;
        }

        #btnMsg {
            top: 110%;
            text-align: center;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
        }

        th, td {
            flex: 1;
            padding: 8px;
            text-align: center;
        }

            th:nth-child(1),
            td:nth-child(1),
            th:nth-child(2),
            td:nth-child(2) {
                border-right: 1px solid black;
            }

            th:nth-child(2),
            td:nth-child(2) {
                border-right: 1px solid black;
            }

    </style>
</head>
<body>
    <header class="w3-display-container w3-wide">
        <div class="w3-row w3-padding w3-border">
            <div class="cover-photo">
                <div class="circle">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <img class="rounded-circle" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture))">
                    </div>
                </div>
            </div>
            <div class="user-info">
                <h1>@(UserManager.GetUserAsync(User).Result.Ad) @(UserManager.GetUserAsync(User).Result.Soyad)</h1>
                <h1 class="point">@(UserManager.GetUserAsync(User).Result.Point) / 10</h1>
                <h1 class="description">@(UserManager.GetUserAsync(User).Result.ProfileDescription)</h1>
            </div>
            <table class="info">
                <th>21</th>
                <th>22</th>
                <th>23</th>
                <tr>
                    <td>Taşıma Sayısı</td>
                    <td>İlan Sayısı</td>
                    <td>Teslim Edilecekler</td>
                </tr>
            </table>
            <button id="btnMsg" type="button" class="btn btn-primary mt-3">Message</button>
        </div>
    </header>
</body>
</html>
