@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'></link>
    <style>
        /* Özel CSS stilleri buraya eklenebilir */
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }

        .container {
            margin-top: 0px;
        }

        .card-registration {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .form-outline {
            position: relative;
            margin-bottom: 1rem;
        }

            .form-outline input.form-control {
                border: none;
                border-radius: 0;
                border-bottom: 1px solid #ced4da;
                border-radius: .25rem;
                box-shadow: none;
            }

                .form-outline input.form-control:focus {
                    box-shadow: none;
                    border-bottom: 2px solid #4caf50;
                }

        .form-label {
            position: absolute;
            top: .8rem;
            left: 1rem;
            transition: all .2s ease-out;
            color: #495057;
            opacity: .5;
        }

        .form-outline input.form-control:focus + .form-label,
        .form-outline input.form-control:not(:placeholder-shown) + .form-label {
            transform: translateY(-1.5rem) scale(0.8);
            opacity: .8;
        }

        .btn-primary {
            background-color: #4caf50;
            border-color: #4caf50;
            border-radius: 5px;
            width: 100%;
        }

            .btn-primary:hover {
                background-color: #4caf50;
                border-color: #4caf50;
            }

        .col-md-4 img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px 0 0 10px;
        }

        #forgot-password, #get-register {
            font-size: 18px;
            color: #4caf50;
        }

    </style>
</head>
<body>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/images/cargo.jpg" alt="Giriş Resmi" class="img-fluid" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-md-5 text-black">
                                <h3 class="mb-5 text-uppercase">Giriş Yap</h3>
                                <form id="loginForm" method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <div data-mdb-input-init class="form-outline">
                                                <input asp-for="Input.Email" class="form-control form-control-lg" autocomplete="username"
                                                       aria-required="true" />
                                                <label class="form-label" for="form3Example1m">Email</label>
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <div data-mdb-input-init class="form-outline">
                                                <input asp-for="Input.Password" class="form-control form-control-lg" autocomplete="current-password"
                                                       aria-required="true" />
                                                <label class="form-label" for="form3Example1m">Şifre</label>
                                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-check">
                                        <input class="form-check-input" asp-for="Input.RememberMe">
                                        <label class="form-check-label" asp-for="Input.RememberMe">Beni Hatırla</label>
                                    </div>
                                    <div class="d-flex justify-content-end pt-3">
                                        <button id="loginSubmit" type="submit" class="btn btn-primary btn-lg">Giriş Yap</button>
                                    </div>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a id="forgot-password" asp-page="./ForgotPassword">Şifreni mi unuttun?</a> <br />
                                    <a id="get-register" asp-page="./Register">Hesap Oluştur</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        debugger;
        if ('@TempData["SweetAlertMessage"]' == "Register") {
            swal("Başarılı!", "Hesabınız Aktifleşmiştir. Giriş Yapabilirsiniz!", "success");
        }
    </script>
</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
